*.a
*.bak
*.fo
*.la
*.lo
*.log
*.o
*.pdf
*.so
*.trs
*~
*.8
.deps/
.libs/
/ChangeLog
/INSTALL
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-h1
/compile
config.guess
config.sub
depcomp
install-sh
missing
po/POTFILES
po/*.gmo
po/remove-potcdate.sed
po/stamp-po
tests/site.exp
Makefile
Makefile.in
pam-config*.tar.*
src/pam-config
m4/gettext.m4
m4/host-cpu-c-abi.m4
m4/iconv.m4
m4/intlmacosx.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/nls.m4
m4/po.m4
m4/progtest.m4
config.rpath
po/pam-config.pot
