*.a
*.bak
*.fo
*.la
*.lo
*.log
*.o
*.pdf
*.so
*.trs
*~
*.8
.deps/
.libs/
/ChangeLog
/INSTALL
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-h1
config.guess
config.sub
depcomp
install-sh
missing
po/POTFILES
po/*.gmo
po/remove-potcdate.sed
po/stamp-po
tests/site.exp
Makefile
Makefile.in
pam-config*.tar.*
src/pam-config
