*.a
*.bak
*.fo
*.la
*.lo
*.log
*.o
*.pdf
*.so
*.trs
*~
.deps/
.libs/
/ABOUT-NLS
/ChangeLog
/INSTALL
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-h1
Makefile
Makefile.in
pam-config*.tar.*
