name: openSUSE build & test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container: registry.opensuse.org/opensuse/tumbleweed:latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install devel packages
      run: |
        zypper ref
        zypper --non-interactive in --no-recommends autoconf automake diffutils docbook-xsl-stylesheets gcc gettext-tools make valgrind libinih-devel

    - name: Setup configure
      run: |
        ./autogen.sh
        ./configure

    - name: Compile code
      run: make
